{% extends "base.html.twig" %}

{% block stylesheets %}
<style>
    .navbar {
        background-color: #212529 !important;
        position: sticky;
    }
    .footer {
        background-color: #212529 !important;
    }
</style>
{% endblock %}

{% block body %}
    <div id="cart-component" data-cart="{{ app.user.id }}"></div>
{% endblock %}

{% block javascripts %}
{{ encore_entry_script_tags('cart-component') }}
{% endblock %}